@font-face {
  font-family: 'BodoniSSK';
  src: url('./BodoniSSK.woff') format('woff'),
    url('./BodoniSSK.svg') format('svg'),
    url('./BodoniSSK.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
